body {
  background: #eaf6f6;
}

a {
  color: #048998;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 30px;
}

.App-footer {
  margin: 30px 30px;
  text-align: center;
}
